<%= link_to "logout", destroy_admin_session_path, method: :delete %>

<h1>管理者TOPページ（注文一覧）</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>配送先氏名</th>
        <th>配送先郵便番号</th>
        <th>配送先住所</th>
        <th>送料</th>
        <th>請求額</th>
        <th>支払方法</th>
        <th colspan="3"></th>
      </tr>
    </thead>
      
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= order.postal_code %></td>
          <td><%= order.address %></td>
          <td><%= order.shipping_cost %></td>
          <td><%= order.total_payment %></td>
          <td><%= order.payment_method %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

